@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
}

.navbar .mid-navbar {
  display: flex;
  gap: 20px;
}

.navbar .mid-navbar a {
  text-decoration: none;
  color: black;
}

.navbar .right-navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar .right-navbar a {
  text-decoration: none;
  color: black;
}

.navbar .right-navbar button {
  padding: 5px 10px 5px 10px;
  display: inline-block;
  background-color: black;
  border-radius: 20px;
  border: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: #f5f5f5;
}

.hero .left-hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
}

.hero .left-hero h1 {
  font-size: 50px;
}

.hero .left-hero p {
  font-size: 18px;
  line-height: 2;
}

.hero .left-hero .buttons {
  display: flex;
  gap: 30px;
}

.btn-primary {
  display: inline-block;
  padding: 7px 12px 7px 12px;
  border-radius: 20px;
  background-color: none;
  border: 2px solid red;
}

.btn-primary a {
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bolder;
  color: red;
}

.content {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}

.content .links {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: bolder;
  gap: 50px;
  margin-bottom: 50px;
}

.content .links a {
  text-decoration: none;
  color: #d3d3d3;
}

.content .links a:hover {
  color: black;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 100px;
}

.card .card-1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid #d3d3d3;
}

.card .card-1 .card-description {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
